@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Sonsie+One&display=swap');

h2 {
  font-size: 2rem;
  padding: 3rem;
  font-family: 'Sonsie One', cursive;
}

.project-info {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  padding: 3rem;
}
